
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.font-family-size {

    font-family: "Playwrite CU", cursive,Verdana, Geneva, Tahoma, sans-serif;

    font-size: 20px;

}

.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}

.center-align{
    text-align: center;
}

.line-through{
text-decoration: line-through;
}

.line-height{
    line-height: 9;
 white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 200px;
}

.letter-spacing{
    letter-spacing: 4px;
word-spacing: 4px;
text-indent: 18px;
}
.text-shadow{
    text-shadow: 10px 5px 2px fuchsia;
text-transform: lowercase;
}

